/* button border  */

.btn {
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: none;
    @include transition(background-color, 0.2, ease-out);
    .fa {
        margin-right: 5px;
    }
}

.btn-border {
    border: 1px solid #555;
    background-color: transparent;
    color: #555;
    @include transition(all, 0.2, ease-out);
    @include haf() {
        background-color: #111;
        color: white;
    }
}

.form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    &:focus {
        border-color: darken($brand-success, 15%);
    }
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: 10px;
    >li {
        margin-bottom: 0;
        >a {
            margin-right: 0;
            border: none;
            background: #aaaaaa;
            border-bottom: 2px solid #797979;
            color: white;
            padding: 7px 15px;
            @include transition(all, 0.2, ease);
        }
        &.active>a {
            &,
            &:hover,
            &:focus {
                border: none;
                background: $brand-success;
                border-bottom: 2px solid darken($brand-success, 15%);
                color: white;
            }
        }
    }
}

[class*="icon-"] {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/icon-social.png) no-repeat;
    @include transition(all, 0.2, ease);
    &:hover {
        opacity: 0.8;
    }
}

.icon-zalo {
    background-position: 0px 0px;
}

.icon-facebook {
    background-position: -42px 0px;
}

.icon-googleplus {
    background-position: -84px 0px;
}

.icon-twitter {
    background-position: -126px 0px;
}

.icon-envelope {
    background-position: -168px 0px;
}